In [14]:
import googleapiclient.discovery
import pandas as pd



api_service_name = "youtube"
api_version = "v3"
DEVELOPER_KEY = "AIzaSyD9pKknR7eJ0SAMzHQpkKbr5uB52EXv8yk"

youtube = googleapiclient.discovery.build(
    api_service_name, api_version, developerKey=DEVELOPER_KEY)


request = youtube.commentThreads().list(
    part="snippet",
    videoId="paastiLIOck",
    maxResults=100
)

comments = []

# Execute the request.
response = request.execute()

# Get the comments from the response.
for item in response['items']:
    comment = item['snippet']['topLevelComment']['snippet']
    public = item['snippet']['isPublic']
    comments.append([
        comment['authorDisplayName'],
        comment['publishedAt'],
        comment['likeCount'],
        comment['textOriginal'],
        public
    ])

while (1 == 1):
  try:
   nextPageToken = response['nextPageToken']
  except KeyError:
   break
  nextPageToken = response['nextPageToken']
  # Create a new request object with the next page token.
  nextRequest = youtube.commentThreads().list(part="snippet", videoId="-GJgqIJsTME", maxResults=100, pageToken=nextPageToken)
  # Execute the next request.
  response = nextRequest.execute()
  # Get the comments from the next response.
  for item in response['items']:
    comment = item['snippet']['topLevelComment']['snippet']
    public = item['snippet']['isPublic']
    comments.append([
        comment['authorDisplayName'],
        comment['publishedAt'],
        comment['likeCount'],
        comment['textOriginal'],
        public
    ])

df = pd.DataFrame(comments, columns=['author', 'updated_at', 'like_count', 'text','public'])
df_same = pd.DataFrame(comments, columns=['author', 'updated_at', 'like_count', 'text','public'])

In [3]:
df.head(5)

,author,updated_at,like_count,text,public
0,@ChillMelodies-f2x,2024-08-22T06:46:18Z,2,I'm so grateful for this music. It's brought m...,True
1,@Hilya15,2024-08-20T03:08:20Z,0,"Maan, i need to know who's the artist üò≠üíê",True
2,@LoFi_thelofi,2024-08-20T02:10:37Z,0,Ïûò Îì£Í≥† Í∞ëÎãàÎã§!,True
3,@_w84u_,2024-08-19T01:41:05Z,0,.,True
4,@ngocyenkhoanguyen,2024-08-16T07:22:49Z,0,ü•∞ü•∞ü•∞,True

In [7]:
import pickle
with open('samarth.pkl', 'rb') as f:
    model = pickle.load(f)

In [8]:
import pickle
with open('tokenizer.pkl', 'rb') as f:
    tokenizer = pickle.load(f)

In [9]:
from sklearn.model_selection import train_test_split
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Embedding, LSTM
from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras.preprocessing.sequence import pad_sequences

def predict_sentiment(review):
  sequence = tokenizer.texts_to_sequences([review])
  padded_sequence = pad_sequences(sequence, maxlen=200)
  prediction = model.predict(padded_sequence)
  sentiment = "positive" if prediction[0][0] > 0.5 else "negative"
  return sentiment

In [10]:
# example usage
new_review = "This movie was fantastic. I loved it."
sentiment = predict_sentiment(new_review)
print(f"The sentiment of the review is: {sentiment}")

1/1 ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 0s 154ms/step
The sentiment of the review is: positive

In [12]:
# example usage
new_review = "This movie was not good"
sentiment = predict_sentiment(new_review)
print(f"The sentiment of the review is: {sentiment}")

1/1 ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 0s 19ms/step
The sentiment of the review is: negative

In [15]:
df.head(10)

,author,updated_at,like_count,text,public
0,@ChillMelodies-f2x,2024-08-22T06:46:18Z,2,I'm so grateful for this music. It's brought m...,True
1,@Hilya15,2024-08-20T03:08:20Z,0,"Maan, i need to know who's the artist üò≠üíê",True
2,@LoFi_thelofi,2024-08-20T02:10:37Z,0,Ïûò Îì£Í≥† Í∞ëÎãàÎã§!,True
3,@_w84u_,2024-08-19T01:41:05Z,0,.,True
4,@ngocyenkhoanguyen,2024-08-16T07:22:49Z,0,ü•∞ü•∞ü•∞,True
5,@ebooktv6330,2024-08-16T05:56:06Z,0,vietnam,True
6,@phakhawatphaon2188,2024-08-15T18:13:42Z,0,3,True
7,@TreasuresofTravel102,2024-08-15T09:33:56Z,1,This music is pure bliss! Sending positive vib...,True
8,@Non-EnglishKhiem,2024-08-14T14:00:42Z,0,can u teach me learn English>,True
9,@liora.us.28,2024-08-13T03:28:59Z,10,"To anyone listening, remember you‚Äôre amazing n...",True

In [16]:
df = df[['author' , 'text']]
df_same = df_same[['author' , 'text']]
df.head()

               author                                               text
0  @ChillMelodies-f2x  I'm so grateful for this music. It's brought m...
1            @Hilya15           Maan, i need to know who's the artist üò≠üíê
2       @LoFi_thelofi                                          Ïûò Îì£Í≥† Í∞ëÎãàÎã§!
3             @_w84u_                                                  .
4  @ngocyenkhoanguyen                                                ü•∞ü•∞ü•∞

In [17]:
df_same.head()

               author                                               text
0  @ChillMelodies-f2x  I'm so grateful for this music. It's brought m...
1            @Hilya15           Maan, i need to know who's the artist üò≠üíê
2       @LoFi_thelofi                                          Ïûò Îì£Í≥† Í∞ëÎãàÎã§!
3             @_w84u_                                                  .
4  @ngocyenkhoanguyen                                                ü•∞ü•∞ü•∞

In [18]:
import ssl
ssl._create_default_https_context = ssl._create_unverified_context

In [19]:
import re
import nltk
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer

nltk.download('stopwords')

nltk.download('wordnet')

stop_words = set(stopwords.words('english'))

lemmatizer = WordNetLemmatizer()

# remove html tags
def clean_html(text):
    clean = re.compile('<.*?>')
    return re.sub(clean, '', text)

# remove emoji
def clean_emoji(text):
    emoji_pattern = re.compile("["
                           u"\U0001F600-\U0001F64F"  # emoticons
                           u"\U0001F300-\U0001F5FF"  # symbols & pictographs
                           u"\U0001F680-\U0001F6FF"  # transport & map symbols
                           u"\U0001F1E0-\U0001F1FF"  # flags (iOS)
                           u"\U00002702-\U000027B0"
                           u"\U000024C2-\U0001F251"
                           "]+", flags=re.UNICODE)
    return emoji_pattern.sub(r'', text)

def clean_text(text):
    text = text.lower()
    text = re.sub(r'[^\w\s]', '', text)
    text = re.sub(r'\d+', '', text)
    text = re.sub(r'\s+', ' ', text)
    text = ' '.join(word for word in text.split() if word not in stop_words)
    text = ' '.join(lemmatizer.lemmatize(word) for word in text.split())
    return text

df['text'] = df['text'].apply(clean_emoji)
df['text'] = df['text'].apply(clean_html)
df['text'] = df['text'].apply(clean_text)
df.head(15)

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/yuwanshbansal/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     /Users/yuwanshbansal/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

                   author                                               text
0      @ChillMelodies-f2x  im grateful music brought much joy peace wishi...
1                @Hilya15                          maan need know who artist
2           @LoFi_thelofi
3                 @_w84u_
4      @ngocyenkhoanguyen
5            @ebooktv6330                                            vietnam
6     @phakhawatphaon2188
7   @TreasuresofTravel102  music pure bliss sending positive vibe wishing...
8       @Non-EnglishKhiem                              u teach learn english
9            @liora.us.28  anyone listening remember youre amazing matter...
10         @ipromised9713                                               love
11          @kiwbites7097  jika itu baik maka lakukan apa yang ingin kamu...
12            @Jean_video                            thank making video good
13        @Joseptravistel                                              yeahg
14             @YunamiLou

In [20]:
df = df.dropna(subset=['text'])
df = df[df['text'] != '']
df = df.reset_index(drop=True)

In [21]:
df['word_count'] = df['text'].apply(lambda x: len(x.split()))
df = df[df['word_count'] >= 3]
df = df.reset_index(drop=True)

In [22]:
df['sentiment'] = df['text'].apply(predict_sentiment)
df.head(15)

1/1 ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 0s 20ms/step
1/1 ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 0s 22ms/step
1/1 ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 0s 20ms/step
1/1 ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 0s 18ms/step
1/1 ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 0s 20ms/step
1/1 ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 0s 21ms/step
1/1 ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 0s 37ms/step
1/1 ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 0s 17ms/step
1/1 ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 0s 18ms/step
1/1 ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 0s 18ms/step
1/1 ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 0s 18ms/step
1/1 ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 0s 18ms/step
1/1 ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 0s 19ms/step
1/1 ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 0s 17ms/step
1/1 ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 0s 19ms/step
1/1 ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 0s 20ms/step
1/1 ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 0s 20ms/step
1/1 ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 0s 18ms/step
1/1 ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 0s 18ms/step
1/1 ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 0s 21ms/step
1/1 ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 0s 18ms/step
1/1 ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 0s 18ms/step
1/1 ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 0s 18ms/step
1/1 ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 0s 18ms/step

,author,text,word_count,sentiment
0,@ChillMelodies-f2x,im grateful music brought much joy peace wishi...,11,positive
1,@Hilya15,maan need know who artist,5,positive
2,@TreasuresofTravel102,music pure bliss sending positive vibe wishing...,15,positive
3,@Non-EnglishKhiem,u teach learn english,4,positive
4,@liora.us.28,anyone listening remember youre amazing matter...,27,positive
5,@kiwbites7097,jika itu baik maka lakukan apa yang ingin kamu...,34,positive
6,@Jean_video,thank making video good,4,positive
7,@user-ts2bj9yq5j,brave enough turn dream reality dont let other...,11,positive
8,@rafifirdaus2710,dont know try set speed like look nice prefere...,10,positive
9,@Khanhngo-tq5np,love post lost,3,positive
10,@itsyouandme613,hope everybody listening enjoy music okay dont...,29,positive
11,@powaii9833,feel good thanks sharing,4,positive
12,@katerina-kk2wi,listening music raining make feel relax thank,7,positive
13,@Mocha9494,listening make feel energized,4,negative
14,@beohim6773,who singer song cant find,5,positive

In [23]:
df_positive = df[df['sentiment'] == 'positive']
df_negative = df[df['sentiment'] == 'negative']

df_positive.head()

,author,text,word_count,sentiment
0,@ChillMelodies-f2x,im grateful music brought much joy peace wishi...,11,positive
1,@Hilya15,maan need know who artist,5,positive
2,@TreasuresofTravel102,music pure bliss sending positive vibe wishing...,15,positive
3,@Non-EnglishKhiem,u teach learn english,4,positive
4,@liora.us.28,anyone listening remember youre amazing matter...,27,positive

In [24]:
df_negative.head()

,author,text,word_count,sentiment
13,@Mocha9494,listening make feel energized,4,negative
19,@magnusculverin,idk expecting song doesnt sad mood vibesgreat ...,9,negative
21,@abovethestar,playlist style song doop,4,negative

In [25]:
df_positive['text'] = df_positive['author'].map(df_same.set_index('author')['text'])
df_negative['text'] = df_negative['author'].map(df_same.set_index('author')['text'])

/var/folders/_7/yfl0p9b92tnc5yyqpq4b9j9h0000gn/T/ipykernel_28059/1819307142.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_positive['text'] = df_positive['author'].map(df_same.set_index('author')['text'])
/var/folders/_7/yfl0p9b92tnc5yyqpq4b9j9h0000gn/T/ipykernel_28059/1819307142.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_negative['text'] = df_negative['author'].map(df_same.set_index('author')['text'])

In [26]:
df_negative.head()

,author,text,word_count,sentiment
13,@Mocha9494,Just listening to it makes you feel energizedüåû‚ú®,4,negative
19,@magnusculverin,Idk if it's just me but I was expecting songs ...,9,negative
21,@abovethestar,This playlist is my style~ ‚ù§ all songs are doop~,4,negative

In [27]:
df_positive.head()

,author,text,word_count,sentiment
0,@ChillMelodies-f2x,I'm so grateful for this music. It's brought m...,11,positive
1,@Hilya15,"Maan, i need to know who's the artist üò≠üíê",5,positive
2,@TreasuresofTravel102,This music is pure bliss! Sending positive vib...,15,positive
3,@Non-EnglishKhiem,can u teach me learn English>,4,positive
4,@liora.us.28,"To anyone listening, remember you‚Äôre amazing n...",27,positive